<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Todo</title>
</head>

<body>
  <h1>Todo</h1>
  <ul>
    <% for(var i =0; i<newlyAddedItem.length; i++){ %>
    <li><%= newlyAddedItem[i] %></li>
    <% } %>
  </ul>
  <form action="/" method="POST">
    <input type="text" name="newItem" required>
    <button type="submit">Add</button>
  </form>
</body>

</html>