/* Tags */
h1,
h2 {
  color: #fff;
  font-family: "Montserrat-Black", sans-serif;
  font-size: 300%;
  line-height: 1.5;
  font-weight: bold;
  margin-top: 10%;
}
h3 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 3%;
}
p {
  color: #8f8f8f;
}
/* CLASSES */
.navbar {
  margin: 2% 0 3% 0;
  padding: 0;
}

.navbar-brand {
  font-size: 2rem;
}
.bg-title {
  background-color: #ff4c68;
  padding: 3% 10%;
}
.title-left {
  padding: 5% 0;
}
.apple-download-btn,
.android-download-btn {
  margin-top: 5%;
  margin-bottom: 10%;
}
.android-download-btn {
  margin-left: 5%;
}
.title-img {
  width: 60%;
  transform: rotate(30deg);
  display: block;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .title-img {
    width: 60%;
    margin: 0 auto;
    display: block;
    transform: rotate(0deg);
  }
  h1,
  .btn-container {
    text-align: center;
  }
}
.col-lg-4 {
  text-align: center;
}
.fa-4x {
  color: #ef8172;
}
.fas:hover {
  color: #ff4c68;
}
.testimonial {
  background-color: #ef8172;
}
.carousel-item {
  padding: 5% 15%;
  text-align: center;
}
.tes-img {
  width: 8%;
  border-radius: 100%;
}
em {
  color: #fff;
  margin-left: 5px;
}
.press img {
  width: 15%;
  display: inline-block;
}
.press {
  text-align: center;
  padding-bottom: 5%;
}
.true-love {
  background-color: #ff4c68;
  text-align: center;
  padding: 5% 7%;
  margin-top: 5%;
}
.foot {
  text-align: center;
}
.social-icon {
  margin: 5% 10px 10px 5px;
}
.row {
  margin-top: 20%;
}
/* ID's */
#middle-section {
  background-color: #fff;
  padding: 10%;
  position: relative;
  bottom: 220px;
}
#middle-section-cover {
  position: absolute;
}
